{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <header class="home-header">
        <div class="container">
            <div class="col-md-12 center-block" style="padding-top: 175px">
                <h1>Chase Lyall</h1>
                <h4>Personal Portfolio & Sandbox</h4>
            </div>
        </div>
    <!--<img class="img-responsive center-block" align="middle" src="{% static 'img/Godafoss.png' %}" alt="Godafoss, Iceland">-->
    </header>
    <div class="container" style="margin-top: 40px">
    <div class="col-md-4">
        <h2 class="sub-header">Objective</h2>
        <p>Hello, my name is Chase Lyall, and I am a business and systems integration senior analyst for Accenture Federal Services.
        I am especially interested in how large, crowd-sourced datasets can improve politics and am therefore working to better understand
        all of the technologies that support large networks and data. My other interests include travelling, skiing,
        volunteering for the homeless, and hiking/camping.</p>
    </div>
    <div class="col-md-4">
        <h2 class="sub-header">Website</h2>
        <p>Just like life, this website will always be a work in progress. Right now I am utilizing it mostly as a
            learning tool and sandbox. This website is built using the following web technologies: Django (Python web app framework),
            Postgres (database), Twitter Bootstrap (frontend mobile-friendly formatting), Amazon Web Services (backend infrastructure), Docker, Gunicorn,
            Supervisor, Nginx, JQuery, Fontawesome, HTML5 Boilerplate, and several others.</p>
    </div>
    <div class="col-md-4">
        <h2 class="sub-header">What's to Come</h2>
        <p>This website is brand new as of March 20th, 2015 which is why it may look rather incomplete. While I have a background in managing large Oracle datasets
            (and bioengineering), I am hoping to utilize this website to better understand web technologies, their uses,
        and pitfalls. I believe in lifelong learning, and this website is just one small step along that process. In the
        future I hope to create a flash card based web app to improve <a href="http://www.reddit.com/r/AskReddit/comments/2b0yf8/good_students_how_do_you_go_about_getting_good/cj0qre2">learning retention</a>.</p>
    </div>
    </div>
{% endblock %}